<!DOCTYPE html>
<head>
  <title>{ post.title } | Sagar Patil</title>
</head>
<body>
  <fieldset
    class="border border-solid border-black dark:border-white min-w-0 p-4 pt-2"
  >
    <legend>
      <span class="text-lg mx-2 font-mono italic">{ post.title }</span>
    </legend>
    <article
      class="prose md:prose-lg lg:prose-xl max-w-none prose-neutral dark:prose-invert"
    >
      <h1 class="!mb-1">{post.title}</h1>
      <em>{post.summary}</em>
      <div class="h-4" />
    </article>
    <img src="{post.coverImage}" class="mb-4" />
    <article
      class="prose md:prose-lg lg:prose-xl max-w-none prose-neutral dark:prose-invert"
    >
      {post.content}
    </article>
  </fieldset>
</body>
