{% extends "layout.html" %}
{% from "components/fieldset.html" import fieldset %}

{% block content %}
  <div class="flex flex-col gap-4">
    <!-- <WhoAmI /> -->
    {% call fieldset("whoami") %}
      <div class="flex flex-col lg:flex-row gap-3 text-lg">
        <article class="text-black text-lg prose-p:m-0 flex flex-col gap-4">
          <p>I'm a CS student at Purdue University</p>
          <p>
            I like programming languages, compilers, firmware development, space
            exploration, and photography.
          </p>
          <p>
            I also like working on projects and leaving them unfinished. Feel
            free to nerd-snipe me with more ideas.
          </p>
          <p>
            I've previously interned at <a href="https://tesla.com">Tesla</a>,
            <a href="https://asylonrobotics.com/">Asylon</a>,
            <a href="https://www.agi.com/">AGI</a>, and
            <a href="https://bloomberg.com/">Bloomberg</a>.
          </p>
        </article>
        <img src="/assets/me-2.jpg" alt="me" class="h-[350px] object-cover" />
      </div>
    {% endcall %}
    {% call fieldset("ls ~/projects") %}
      {{ lists["projects"]|safe }}
    {% endcall %}
    {% call fieldset("~/friends.md") %}
      <article>
        Cool friends working on cool stuff
        <ul>
          <li><a href="https://arefmalek.com/">Aref Malek</a></li>
          <li><a href="https://coleroberts.dev/index">Cole Roberts</a></li>
          <li><a href="https://harmya.me/">Harmya Bhatt</a></li>
          <li><a href="https://bhavesh.dev/about">Bhavesh</a></li>
          <li><a href="https://www.zietek.dev/">Jacob Zietek</a></li>
          <li><a href="https://jinen.setpal.net/">Jinen Setpal</a></li>
          <li><a href="https://mikail-khan.com/">Mikail Khan</a></li>
          <li><a href="https://arnavmehra.com/">Arnav Mehra</a></li>
          <li><a href="https://wade.dev/">Nicholas Wade</a></li>
        </ul>
      </article>
    {% endcall %}
    <!-- <Coursework /> -->
    {% call fieldset("~/photography/") %}
      <div>
        I shoot on a Canon EOS M50 with the Helios 44-2 58mm f/2 lens, a 15-45
        mm kit lens, and an iPhone 14 Pro
        <section class="grid grid-flow-row-dense grid-cols-5 gap-1 mt-2">
          <img
            src="/photography/golden-gate-bridge.jpg"
            class="row-span-2 col-span-3"
            alt="grand canyon 2"
          />
          <img
            src="/photography/sunset.jpg"
            class="row-span-3 col-span-2"
            alt="michigan 1"
          />
          <img
            src="/photography/grand-canyon-1.jpg"
            class="row-span-2 col-span-3"
            alt="grand canyon 1"
          />
          <img
            src="/photography/andromeda.jpg"
            class="row-span-2 col-span-3"
            alt="andromeda"
          />
          <img
            src="/photography/laptop.jpg"
            class="row-span-2 col-span-3"
            alt="grand canyon 1"
          />
          <img
            src="/photography/emu.jpg"
            class="row-span-2 col-span-3"
            alt="emu board"
          />
          <img
            src="/photography/antelope-canyon.jpg"
            class="row-span-3 col-span-2"
            alt="antelope canyon"
          />
          <img
            src="/photography/michigan-1.jpg"
            class="row-span-3 col-span-2"
            alt="michigan 1"
          />
          <img
            src="/photography/grand-canyon-2.jpg"
            class="row-span-2 col-span-3"
            alt="grand canyon 2"
          />
        </section>
      </div>
    {% endcall %}
  </div>
{% endblock %}
