{% from "components/button.html" import button %}
{%
  from
  "components/fieldset.html" import fieldset
%}

<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/index.css" />
  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <main
    class="flex min-h-screen flex-col max-w-5xl mx-auto px-4 py-4 sm:py-8 leading-5 dark:bg-black dark:text-white font-sans"
  >
    <div class="flex justify-between flex-wrap">
      <a href="/">
        <h3 class="font-mono">{{ name }}</h3>
      </a>
      <div
        class="flex flex-col sm:flex-row justify-between gap-2 align-middle items-center my-1"
      >
        {% call button("https://linkedin.com/in/patilsr", "w-32 bg-[#0077b5] text-white") %}
          <ion-icon name="logo-linkedin"></ion-icon>
          <span class="ms-1">LinkedIn</span>
        {% endcall %}
        {%
          call
          button("https://github.com/sagarreddypatil", "w-32")
        %}
          <ion-icon name="logo-github"></ion-icon>
          <span class="ms-1">GitHub</span>
        {% endcall %}
        {% call button("/assets/resume.pdf", "w-32") %}
          <span class="ms-1">Resume</span>
        {% endcall %}
      </div>
    </div>
    <hr class="my-2 border-black" />
    {% block content %}{% endblock %}
    <div class="h-3"></div>
    {% call fieldset("cat README.md") %}
      <div class="flex flex-row justify-between">
        <span class="prose dark:prose-invert">
          Source code on
          <a href="https://github.com/sagarreddypatil/portfolio-website">
            GitHub
          </a>
        </span>
      </div>
    {% endcall %}
  </main>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</body>
